<div class="row">
  <div class="col-md-5">
    <h2>Memes</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let meme of memes"
        (click)="selectMeme(meme)"
        [class.active]="meme === selectedMeme">
        {{meme.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewMeme()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <meme-details
      [meme]="selectedMeme"
      [createHandler]="addMeme"
      [updateHandler]="updateMeme"
      [deleteHandler]="deleteMeme">
    </meme-details>
  </div>
</div>
